MONGODB_URI=mongodb+srv://omvs54_db_user:9850780278omss@omvs95.ljrrw0v.mongodb.net/om_satarkar_store?retryWrites=true&w=majority&appName=omvs95
JWT_SECRET=change-this-secret-before-deployment
FRONTEND_URL=https://e-commerce-web-application-psi.vercel.app
ADMIN_NAME=Om Satarkar
ADMIN_LOGIN=om
ADMIN_EMAIL=om@gmail.com
ADMIN_PASSWORD=password@123
PORT=4000

